body {
    background: linear-gradient(to bottom, #fc7034, #2196F3);
    font-family: 'Cabin', sans-serif;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    min-height: 100vh; /* Ensure the gradient fills the entire viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 75vh; /* Set maximum height to 75% of the viewport height */
    overflow-y: auto; /* Add vertical scrollbar if content overflows */
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding doesn't increase width */
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}

.param-buttons-container {
    margin: 2em 0em;
}

.eq-item {
    margin: 1em 0em;
}

.param-button {
    background-color: #fb7107;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.add-track {
    background-color: #00bf16;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#copy-button {
    background-color: #2196F3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#copy-button:hover {
    background-color: #0E71A6;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff; /* Set the background color to match text input fields */
}

/* Style the dropdown arrow */
select::after {
    content: '\25BC'; /* Unicode for down arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none; /* Prevent interaction with the arrow */
}

/* Apply "Cabin" font and larger font size to all text input fields */
input[type="text"] {
    font-family: 'Cabin', sans-serif;
    font-size: 16px; /* Adjust the font size as needed */
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
}
